{% extends 'Intent/base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="container">
<div class="box">
<div class="box-card">
  <h3>Goal add</h3>
  <form action="" method="POST" class="d-flex flex-column gap-2">
    {% csrf_token %}
    

    <label>Goal Title</label>
    <input type="text" placeholder="Goal Title" name="goaltitle" />

    <label>Type Goal</label>
    <select name="is_public">
      <option value="True">Public</option>
      <option value="False">Private</option>
    </select>

    <label>Priority</label>
    <select name="priority">
      {% for choice in Goal.priority_choices.choices %}
      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
      {% endfor %}
    </select>
    <label>Your description:</label>
    <textarea name="description"></textarea>

    <input class="btn btn-primary" type="submit" value="Creat Goal" />
  </form>
</div>

</div>
</div>
{% endblock %}
