{% extends 'Intent/base.html' %}
{% block title %} Profile {% endblock %}


{% block content %}


{{ goal.goaltitle }}

<h2>Tasks</h2>
<br>

    {% for task in tasks %}
        <div class="border rounded p-3 mt-3">
            <h5>{{ task.task }}</h5>
            <p>{{ task.is_done }}</p>
        </div>
    {% endfor %}


<form action="{% url 'Intent:add_task' goal.id %}" method="POST">
    {% csrf_token %}
<div>
    <h3>Task add</h3>

<label>Task</label>
<input type="text" placeholder="Task" name ="task">

<button name="addtask" value="addtask">Creat</button>

</div>
</form>
<a href="{% url 'Intent:profile' %}"><button>Done</button></a>
{% endblock %}