{% extends 'Intent/base.html' %}
{% block title %} signin {% endblock %}


{% block content %}

    <form>
        <h3> signup </h3>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" id="username"   />
    
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" id="email"   />
    
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password"  />

        <label for="password">Re-type Password</label>
        <input type="password" name="Re-type-Password" placeholder="Re-type Password" id="password"  />
    
        <button>signup</button>
        <div class="social">
          <div class="fb"><a href="{% url 'Intent:signin' %}">signin</a> </div>
        </div>
    </form>
    

{% endblock %}
