{% extends 'Intent/base.html' %}
{% block title %} signin {% endblock %}

{% block content %}

<br>
<br>
<div class="login_logout">
  <h1>Login</h1>

  <form action="{% url 'accounts:login_user' %}" method="POST" class="d-flex flex-column gap-2">
     {% csrf_token %}

      <strong class="">{{ msg }}</strong>

  
      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
          <label for="floatingInput">User Name</label>
        </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-dark" type="submit">Login</button>
      <p>Not a member? <a href="{% url 'accounts:register_user' %}">Register</a></p>
      
    </form>



</div>
    


{% endblock %}
