{% extends 'Intent/base.html' %}
{% block title %} signin {% endblock %}


{% block content %}

<div class="login_logout">
  <h1>Register</h1>
  {% load static %}
  <form action="{% url 'accounts:register_user' %}" method="POST" class="d-flex flex-column gap-2">
     {% csrf_token %}
  
      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
          <label for="floatingInput">User Name</label>
        </div>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="first_name">
          <label for="floatingInput">First Name</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="last_name">
          <label for="floatingInput">Last Name</label>
        </div>


      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
  
     <a href="{% url 'Intent:home' %}"> <button class="w-100 btn btn-lg btn-dark" type="submit">Sing up</button></a>
     <p>Do you have an account? <a href="{% url 'accounts:login_user' %}">Login</a></p>
    </form>


</div>
    

{% endblock %}
